/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: "Kefa", "Book Antiqua";
  color: #262626;
}

/* line 13, ../sass/screen.scss */
body > .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 1200px;
  padding: 0 40px;
}

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 35.9375px;
  margin: 2em 0 1em;
  clear: both;
}

/* line 26, ../sass/screen.scss */
h2 {
  font-size: 28.75px;
  margin: 1em 0 0.5em 0;
  width: 100%;
  text-align: center;
  clear: both;
  float: left;
  text-transform: uppercase;
}

/* line 36, ../sass/screen.scss */
h3 {
  font-size: 23px;
  margin: 1em 0 0.5em 10%;
  clear: both;
  float: left;
}

/* line 43, ../sass/screen.scss */
h4 {
  font-size: 23px / 1.25;
  margin: 1em 0 0;
  clear: both;
}

/* line 52, ../sass/screen.scss */
.page-header {
  margin-top: 10px;
  height: 158px;
  position: relative;
  background: transparent url(../img/header-bg.png) repeat-x left bottom;
}
/* line 58, ../sass/screen.scss */
.page-header .logo {
  float: left;
  margin-left: 5%;
  margin-right: 0;
}
/* line 64, ../sass/screen.scss */
.page-header .main-menu {
  float: right;
}
/* line 67, ../sass/screen.scss */
.page-header .main-menu li {
  float: left;
}
/* line 70, ../sass/screen.scss */
.page-header .main-menu a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 270px;
  margin: 0 12px;
  height: 64px;
  border: 1px solid #000;
  line-height: 65px;
  text-align: center;
  font-size: 26px;
  color: #262626;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
}
/* line 86, ../sass/screen.scss */
.page-header .main-menu a:hover, .page-header .main-menu a.active {
  width: 294px;
  height: 106px;
  line-height: 66px;
  border: none;
  padding: 0 12px;
  margin: 0;
  background: url(../img/main-menu-active.png) no-repeat left top;
}
/* line 98, ../sass/screen.scss */
.page-header .help {
  float: right;
  margin-top: 5px;
  margin-right: 5%;
}
/* line 103, ../sass/screen.scss */
.page-header .help a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 57px;
  height: 57px;
  margin-left: 4px;
  line-height: 57px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #868686;
  text-align: center;
  font-size: 37px;
  color: #262626;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
}
/* line 120, ../sass/screen.scss */
.page-header .help a:hover, .page-header .help a.active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 62px;
  height: 87px;
  line-height: 58px;
  padding-left: 3px;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: url(../img/help-active.png) no-repeat left top;
}
/* line 134, ../sass/screen.scss */
.page-header .status {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  padding: 9px;
  position: absolute;
  bottom: 0;
}
/* line 142, ../sass/screen.scss */
.page-header .status .wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  background: #e4e5e3;
}
/* line 149, ../sass/screen.scss */
.page-header .status .label {
  float: left;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 1em;
}
/* line 157, ../sass/screen.scss */
.page-header .status .current-user {
  float: left;
}
/* line 160, ../sass/screen.scss */
.page-header .status .user {
  height: 20px;
  float: left;
  display: inline-block;
  background: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 0 10px;
  text-decoration: none;
  outline: 0;
  color: #262626;
  margin-right: 10px;
}
/* line 174, ../sass/screen.scss */
.page-header .status .logout {
  height: 20px;
  float: right;
  display: inline-block;
  background: #dceef9;
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px;
  text-decoration: none;
  outline: 0;
  color: #262626;
  border: 2px solid black;
}

/* line 193, ../sass/screen.scss */
.main-part .main-menu {
  width: 1040px;
  margin: 0 auto;
  height: 54px;
}
/* line 198, ../sass/screen.scss */
.main-part .main-menu li {
  float: left;
}
/* line 202, ../sass/screen.scss */
.main-part .main-menu a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 260px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #000;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  text-align: center;
  color: #262626;
}
/* line 218, ../sass/screen.scss */
.main-part .main-menu .ui-tabs-active a, .main-part .main-menu a:hover {
  background: url(../img/sub-menu-active.png) no-repeat left top;
  height: 54px;
  line-height: 37px;
  border: 0;
}

/* line 230, ../sass/screen.scss */
.form p {
  margin: 1em 0;
}
/* line 233, ../sass/screen.scss */
.form p.full-width {
  width: 100%;
  float: left;
  clear: both;
}
/* line 238, ../sass/screen.scss */
.form p.full-width label span {
  width: 30%;
  margin-right: 2%;
}
/* line 242, ../sass/screen.scss */
.form p.full-width label span.checkbox-label {
  text-transform: none;
  width: auto;
  float: none;
  text-align: left;
}
/* line 253, ../sass/screen.scss */
.form p.full-width input[type=email],
.form p.full-width input[type=password],
.form p.full-width input[type=text],
.form p.full-width select {
  width: 55%;
}
/* line 260, ../sass/screen.scss */
.form p.half-width.left {
  width: 50%;
  float: left;
  clear: none;
}
/* line 265, ../sass/screen.scss */
.form p.half-width.left label span {
  width: 60%;
  margin-right: 4%;
}
/* line 269, ../sass/screen.scss */
.form p.half-width.left label span.checkbox-label {
  text-transform: none;
  width: auto;
  float: none;
  text-align: left;
}
/* line 280, ../sass/screen.scss */
.form p.half-width.left input[type=email],
.form p.half-width.left input[type=password],
.form p.half-width.left input[type=text],
.form p.half-width.left select {
  width: 36%;
}
/* line 286, ../sass/screen.scss */
.form p.half-width.right {
  width: 37%;
  float: left;
  clear: none;
}
/* line 291, ../sass/screen.scss */
.form p.half-width.right label span {
  width: 45%;
  margin-right: 2%;
}
/* line 299, ../sass/screen.scss */
.form p.half-width.right input[type=email],
.form p.half-width.right input[type=password],
.form p.half-width.right input[type=text],
.form p.half-width.right select {
  width: 53%;
}
/* line 305, ../sass/screen.scss */
.form label {
  width: 100%;
}
/* line 307, ../sass/screen.scss */
.form label:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/* line 315, ../sass/screen.scss */
.form label label.error {
  color: red;
  margin-left: 10px;
  line-height: 37px;
}
/* line 321, ../sass/screen.scss */
.form label span {
  float: left;
  text-align: right;
  line-height: 37px;
  font-size: 23px;
  text-transform: uppercase;
}
/* line 337, ../sass/screen.scss */
.form input[type=email],
.form input[type=password],
.form input[type=text],
.form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 37px;
  border: 1px solid #000;
  padding: 0 0 0 10px;
  float: left;
  font-size: 24px;
  font-family: inherit;
}
/* line 348, ../sass/screen.scss */
.form input[type=email].error,
.form input[type=password].error,
.form input[type=text].error,
.form select.error {
  border-color: red;
}
/* line 353, ../sass/screen.scss */
.form input[type=submit] {
  text-transform: uppercase;
  font-family: inherit;
  display: inline-block;
  background: #dceef9;
  font-size: 22px;
  line-height: 22px;
  padding: 0 15px;
  text-decoration: none;
  outline: 0;
  color: #262626;
  border: 2px solid black;
  height: 35px;
}

/* line 371, ../sass/screen.scss */
.person-list table {
  float: left;
  width: 80%;
  border-collapse: collapse;
  font-size: 23px;
  margin: 1px 0 2px 10%;
}
/* line 377, ../sass/screen.scss */
.person-list table td {
  border: 1px solid black;
  padding: 6px 10px;
}
/* line 382, ../sass/screen.scss */
.person-list header {
  text-transform: uppercase;
}
/* line 384, ../sass/screen.scss */
.person-list header table td {
  border: 0;
}

/* line 391, ../sass/screen.scss */
.patient-selector {
  position: relative;
  z-index: 50;
  float: left;
  background: #e4e5e3;
  margin: 20px;
  min-width: 400px;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  font-size: 24px;
}
/* line 403, ../sass/screen.scss */
.patient-selector .switch-wrapper {
  background: #fff;
  height: 60px;
  line-height: 60px;
  margin: 10px 0 10px 10px;
  float: right;
  clear: none;
}
/* line 412, ../sass/screen.scss */
.patient-selector .switch {
  display: inline-block;
  background: #dceef9;
  font-size: 24px;
  line-height: 24px;
  padding: 0 10px;
  text-decoration: none;
  outline: 0;
  color: #262626;
  margin: 0 10px;
  border: 1px solid black;
}

/* line 426, ../sass/screen.scss */
.patient-manager .main-menu {
  float: right;
  width: auto;
  margin-top: 50px;
}

/* line 433, ../sass/screen.scss */
.meals-calendar-container .tip {
  background: #e4e5e3;
  margin: 10px 0 10px 150px;
  padding: 20px;
}

/* line 441, ../sass/screen.scss */
.meals-calendar .day {
  width: 100%;
  margin: 2px 0;
  border: 1px solid #000;
}
/* line 446, ../sass/screen.scss */
.meals-calendar .day .header {
  width: 135px;
  border-right: 1px solid #000;
  text-align: center;
}
/* line 451, ../sass/screen.scss */
.meals-calendar .day .header span {
  background: #fff;
  border: 1px solid #000;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0;
  display: inline-block;
  width: 105px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
/* line 463, ../sass/screen.scss */
.meals-calendar .day .header span strong {
  font-size: 17px;
}
/* line 469, ../sass/screen.scss */
.meals-calendar .day .meal {
  float: left;
  width: 160px;
  margin: 20px;
  text-align: center;
}
/* line 475, ../sass/screen.scss */
.meals-calendar .day .meal header {
  white-space: nowrap;
}
/* line 479, ../sass/screen.scss */
.meals-calendar .day .meal .status, .meals-calendar .day .meal .notes {
  display: inline-block;
  max-width: 140px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 488, ../sass/screen.scss */
.meals-calendar .day .meal .status {
  background: #fff;
  border: 2px solid #000000;
  padding: 2px 10px;
  margin-bottom: 5px;
}
/* line 494, ../sass/screen.scss */
.meals-calendar .day .meal .status.warning {
  color: #660000;
  background: #FFECE5;
}
/* line 500, ../sass/screen.scss */
.meals-calendar .day .meal .thumbnail-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin: 10px 0;
}
/* line 506, ../sass/screen.scss */
.meals-calendar .day .meal .thumbnail-container .thumbnail {
  width: 100%;
}
/* line 510, ../sass/screen.scss */
.meals-calendar .day .meal .thumbnail-container.mealtype_drink .thumbnail {
  width: auto;
  height: 100%;
}
/* line 518, ../sass/screen.scss */
.meals-calendar .day.odd .header {
  background: #c4d3be;
}
/* line 521, ../sass/screen.scss */
.meals-calendar .day.odd .content {
  background: #e0e8dd;
}
/* line 526, ../sass/screen.scss */
.meals-calendar .day.even .header {
  background: #d6d6d6;
}
/* line 529, ../sass/screen.scss */
.meals-calendar .day.even .content {
  background: #e4e5e3;
}

/* line 536, ../sass/screen.scss */
.meal-tooltip {
  background: #d6d6d6;
  border: 2px solid black;
  padding: 5px;
  overflow: hidden;
  width: 450px;
}
/* line 543, ../sass/screen.scss */
.meal-tooltip img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 450px;
  border: 2px solid black;
  float: left;
  margin-bottom: 5px;
}
/* line 551, ../sass/screen.scss */
.meal-tooltip .tooltip-notes {
  background: #dceef9;
  border: 2px solid black;
  display: block;
  clear: both;
  padding: 10px 10px;
  margin-top: 5px;
}
/* line 560, ../sass/screen.scss */
.meal-tooltip.double {
  width: 905px;
}

/* line 565, ../sass/screen.scss */
.chart-container {
  float: left;
  clear: both;
  width: 1000px;
  height: 400px;
  margin: -10px 100px 20px;
}

/* line 573, ../sass/screen.scss */
.subscription-types {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
/* line 579, ../sass/screen.scss */
.subscription-types ul {
  position: relative;
  left: 50%;
}
/* line 584, ../sass/screen.scss */
.subscription-types li {
  float: left;
  position: relative;
}
/* line 589, ../sass/screen.scss */
.subscription-types .item {
  display: inline-block;
  width: 147px;
  height: 217px;
  background: #dceef9;
  text-align: center;
  border-left: 3px solid #c5dbe8;
  border-top: 3px solid #c5dbe8;
  border-right: 6px solid #c5dbe8;
  border-bottom: 6px solid #c5dbe8;
  margin: 10px 20px;
  color: #000;
  text-decoration: none;
}
/* line 605, ../sass/screen.scss */
.subscription-types .patients {
  font-size: 33px;
  line-height: 150%;
  margin: 10px 0;
  display: inline-block;
  white-space: nowrap;
}
/* line 613, ../sass/screen.scss */
.subscription-types .price {
  font-size: 28px;
  line-height: 150%;
  white-space: nowrap;
}

/* line 621, ../sass/screen.scss */
.subscription form {
  text-align: center;
  float: left;
  clear: both;
  width: 100%;
}

/* line 631, ../sass/screen.scss */
.flash-message {
  position: relative;
  padding: 12px;
  margin: 5px 0;
  font-family: Kefa;
  font-size: 20px;
  text-align: center;
}
/* line 639, ../sass/screen.scss */
.flash-message .close {
  font-weight: bold;
  font-family: helvetica, sans-serif;
  color: #fff;
  background: #bc7c77;
  border: 1px solid #fff;
  font-size: 17px;
  line-height: 23px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 0 3px;
  margin: 0;
  display: inline-block;
}
/* line 657, ../sass/screen.scss */
.flash-message .wrapper {
  padding: 12px;
  border: 1px solid #fff;
}
/* line 662, ../sass/screen.scss */
.flash-message.error {
  background: #bc7c77;
}
/* line 665, ../sass/screen.scss */
.flash-message.error .wrapper {
  background: #fce6e6;
}
/* line 670, ../sass/screen.scss */
.flash-message.success {
  background: #bc7c77;
}
/* line 673, ../sass/screen.scss */
.flash-message.success .wrapper {
  background: #fce6e6;
}
/* line 678, ../sass/screen.scss */
.flash-message.warning {
  background: #bc7c77;
}
/* line 681, ../sass/screen.scss */
.flash-message.warning .wrapper {
  background: #fce6e6;
}
/* line 686, ../sass/screen.scss */
.flash-message.tip {
  background: #bc7c77;
}
/* line 689, ../sass/screen.scss */
.flash-message.tip .wrapper {
  background: #fce6e6;
}

/* line 697, ../sass/screen.scss */
.ui-datepicker {
  background: #fff;
  border: 2px solid #000000;
}

/* line 701, ../sass/screen.scss */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* line 704, ../sass/screen.scss */
.ui-dialog {
  background: #bc7c77;
  border: 1px solid black;
  padding: 12px;
}

/* line 709, ../sass/screen.scss */
.ui-dialog .ui-dialog-titlebar {
  background: #f4c7c6;
  border: 1px solid black;
  font-size: 24px;
}
/* line 713, ../sass/screen.scss */
.ui-dialog .ui-dialog-titlebar button {
  display: none;
}

/* line 717, ../sass/screen.scss */
#choosePatient {
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #fff;
  padding: 30px;
}
/* line 723, ../sass/screen.scss */
#choosePatient ul {
  list-style: disc inside;
}
/* line 729, ../sass/screen.scss */
#choosePatient a {
  font-size: 25px;
  color: inherit;
  text-decoration: none;
}

/* line 735, ../sass/screen.scss */
.ui-dialog .ui-dialog-buttonpane {
  background: #f4c7c6;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
/* line 741, ../sass/screen.scss */
.ui-dialog .ui-dialog-buttonpane button {
  background: #bc7c77;
  color: #fff;
  border: 1px solid white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: inherit;
}

/* line 752, ../sass/screen.scss */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0;
}

/* line 756, ../sass/screen.scss */
.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

/* line 760, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel {
  clear: both;
}

/* line 764, ../sass/screen.scss */
body .ui-tooltip {
  background: #fff;
  border: none;
  padding: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.button.mail.gray {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #9dad93 url("/images/icon-mail.jpg") no-repeat right 5px;
  border-right: 10px solid #9dad93;
  color: #fff;
  padding: 5px 60px 5px 10px;
}
.main-part .error-screen {
  display: flex;
  flex-wrap: wrap;
}
.main-part .error-screen .body-section ,
.main-part .error-screen .error-description {
  width: 1200px;
  margin: 0 auto;
  font-size: 29px;
}
.main-part .error-screen .error-description {
  font-size: 29px;
  margin-bottom: 10px;
  text-align: center;
}
.main-part h2 {
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 20px;
}
.main-part .body-section .button.mail.gray {
  padding-top: 8px;
}
.statistic-page .chart-container {
  float: none;
  height: auto;
  margin: -10px auto 20px auto;
}