/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";

// Typography basics
body {
  font-family: "Kefa", "Book Antiqua";
  font-size: 29px;
  line-height: 117%;
  color: #000;
  min-width: 1200px;
}

strong {
  font-weight: bold;
}

em {
  font-size: 67%;
  line-height: 67%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 20px;
}

h3 {
  font-size: 1.37em;
  color: #932018;
  margin: 20px 0 20px;
}

h4 {
  font-size: 1.44em;
  margin: 0.75em 0 0.25em;
}

// Assets
@mixin button {
  display: inline-block;
  color: inherit;
  //  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  @include box-sizing(border-box);
}

nav {
  li {
    float: left;
  }
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
}

.clear-fix {
  display: block;
  width: 100%;
  margin: 0;
  float: left;
  clear: both;
}

// Layout basics
body {
  > header,
  > section,
  > footer,
  .body-section {
    float: left;
    width: 100%;

    > .wrapper {
      margin: 0 auto;
      width: 1200px;
      position: relative;
    }
  }

  .body-section {
    margin: 20px 0 40px;
  }

  > section {
    margin: 15px 0;
  }
}

// Header
body > header {
  height: 70px; // There will be only absolutely positioned elements inside
  margin-bottom: -15px;

  // there is also .wrapper but we omit it for simpler selectors
  .logo {
    position: absolute;
    top: 20px;
    left: 50px;
  }

  .main-menu {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

    li {
      padding: 0 12px;
      border-right: 2px solid #c4d3be;
      &:last-child {
        border-right: none;
      }
    }

    a {
      font-size: 0.62em;
      text-transform: uppercase;
    }
  }

  .login {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    a {
      @include button();
      text-transform: uppercase;
      width: 130px;
      height: 29px;
      line-height: 29px;
      background: #dceef9;
      border: 2px solid #b0c8d6;
      font-size: 0.6em;
    }
  }
}

.header-decoration {
  height: 225px;
  float: left;
  width: 100%;
  background: url(/images/header.red.update.png) repeat-x center center;
}

// Main section
// Leading
.leading {
  width: 705px;
  margin: 20px auto;
  color: #9dad93;
  text-align: center;
  font-size: 0.9em;
}

// Homepage
.main-banner {
  img {
    border-top: 15px solid #d6d6d6;
    border-bottom: 15px solid #d6d6d6;
  }
}

.intro {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.features.container {
  background: #dff1f7;
  padding: 20px 0;
  // centering
  .wrapper-a {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }
  .wrapper-b {
    position: relative;
    left: 50%;
  }

  .item {
    float: left;
    width: 212px;
    @include box-sizing(border-box);
    padding: 12px;
    text-align: center;

    .feature-icon {
      border: 2px solid #4f4f4f;
    }

    .feature-content {
      background: #fff;
      margin-top: 10px;
      padding: 15px 10px;
      height: 112px;
      width: 100%;
      display: table;
      @include box-sizing(border-box);
      span {
        display: table-cell;
        vertical-align: middle;
        font-size: 0.59em;
        line-height: 117%; //reset breaks body assignment
      }
    }
  }
}

.in-page-menu {
  // centering
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
  ul {
    position: relative;
    left: 50%;
  }

  a {
    @include button();
    width: 250px;
    height: 140px;
    margin: 20px;
    color: #fff;
    background: #9dad93;
    font-size: 0.9em;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Text page
.chess {
  .item {
    float: left;
    width: 100%;
    margin: 0;

    &.odd {
      background: #dff1f7;
    }

    .area-wysiwyg {
      padding: 40px 50px;
    }

    .area-wysiwyg-and-image {
      h3 {
        display: inline-block;
        border-bottom: 1px solid #932018;
      }

      aside {
        width: 50%;
        height: 400px;
      }
      section {
        width: 50%;
        height: 400px;
        display: table;

        .wrapper {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &.odd {
      .area-wysiwyg-and-image {
        aside {
          float: right;
          text-align: left;
        }
        section {
          float: left;
          text-align: right;
          @include box-sizing(border-box);
          padding-right: 30px;
          h3 {
            padding-left: 40px;
          }
        }
      }
    }

    &.even {
      .area-wysiwyg-and-image {
        aside {
          float: left;
          text-align: right;
        }
        section {
          float: right;
          text-align: left;
          h3 {
            padding-right: 40px;
          }
        }
      }
    }
  }
}

.instructions {
  background: #9dad93;
  padding: 30px 0;

  // center alignment
  .wrapper-a {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }
  .wrapper-b {
    position: relative;
    left: 50%;
  }

  .item {
    width: 275px;
    margin: 0 15px;
    text-align: center;
    float: left;
    background: #fff;
    padding-bottom: 20px;
    text-decoration: none; // it can be a link
  }
  .step {
    @include button();
    width: 200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    background: #932018;
    color: #fff;
  }
  .content {
    color: #000;
    font-size: 62%;
    margin-top: 10px;
    line-height: 117%;
  }
}

.pricing {
  padding: 0;

  // center alignment
  .wrapper-a {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }
  .wrapper-b {
    position: relative;
    left: 50%;
  }

  .item {
    width: 215px;
    margin: 0 10px;
    text-align: center;
    float: left;
    background: #fff;
    padding-bottom: 20px;
  }
  .content {
    color: #000;
    font-size: 62%;
    line-height: 117%;
    height: 180px;
    margin: 20px 0;
  }

  .button.red {
    padding: 3px 10px;
    font-size: 85%;
  }

  .wysiwyg {
    clear: both;
    margin: 20px 0;
  }
}

// About page

// FAQ page

// Footer
body > footer {
  background: #932018;
  height: 90px;

  .logo {
    position: absolute;
    top: 10px;
    left: 50px;
  }

  .main-menu {
    position: absolute;
    top: 30px;
    left: 250px;
    color: #fff;
    text-transform: uppercase;

    li {
      padding: 0 25px;
      border-right: 2px solid #fff;
    }
    li:last-child {
      border-right: none;
    }
  }

  .share {
    position: absolute;
    top: 15px;
    right: 250px;

    li {
      margin: 0 2px;
    }
  }

  .logo.turtle {
    position: absolute;
    top: 10px;
    left: auto;
    right: 20px;
  }
}

// Buttons
.button.red {
  @include button();
  background: #932018;
  color: #fff;
  padding: 5px 40px;
}

.button.gray {
  @include button();
  background: #9dad93;
  color: #fff;
  padding: 5px 20px;
}

.button.mail.gray {
  @include button();
  background: #9dad93 url('/images/icon-mail.jpg') no-repeat right 5px;
  border-right: 10px solid #9dad93;
  color: #fff;
  padding: 5px 60px 5px 10px;
}

// Forms
.form {
  p {
    margin: 0.5em 0;

    &.full-width {
      width: 100%;
      float: left;
      clear: both;

      label span {
        width: 30%;
        margin-right: 2%;
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select,
      textarea {
        width: 55%;
      }
    }

    $hwlww: 50;
    &.half-width.left {
      width: 1% * $hwlww;
      float: left;
      clear: none;

      label span {
        width: 30% * 100 / $hwlww;
        margin-right: 2% * 100 / $hwlww;
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select,
      textarea {
        width: 100% - 30% * 100 / $hwlww - 2% * 100 / $hwlww;
      }
    }

    $hwrww: 37;
    &.half-width.right {
      width: 1% * $hwrww;
      float: left;
      clear: none;

      label span {
        width: 45%;
        margin-right: 2%;
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select,
      textarea {
        width: 100% - 45% - 2%;
      }
    }
  }

  label {
    width: 100%;
    &:after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }

    label.error {
      // label inside label? Doesn't look too good
      color: red;
      margin-left: 10px;
      line-height: 37px;
    }

    span {
      float: left;
      text-align: right;
      line-height: 37px;

      font-size: 23px;
      text-transform: uppercase;

      &::after {
      }
    }
  }

  input[type=email],
  input[type=password],
  input[type=text],
  select,
  textarea {
    @include box-sizing(border-box);
    width: 45%;
    height: 37px;
    border: 1px solid #000;
    padding: 0 0 0 10px;
    float: left;

    font-size: 24px;
    font-family: inherit;

    &.error {
      border-color: red;
    }
  }

  textarea {
    height: auto;
  }

  input[type=submit] {
    text-transform: uppercase;
    font-family: inherit;
    display: inline-block;
    background: #dceef9;
    font-size: 22px;
    line-height: 22px;
    padding: 0 15px;
    text-decoration: none;
    outline: 0;
    color: #000;
    border: 2px solid black;
    height: 35px;
  }
}