/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  font-family: "Kefa", "Book Antiqua";
  font-size: 29px;
  line-height: 117%;
  color: #000;
  min-width: 1200px;
}

/* line 17, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 21, ../sass/screen.scss */
em {
  font-size: 67%;
  line-height: 67%;
}

/* line 26, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 30, ../sass/screen.scss */
h2 {
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 20px;
}

/* line 37, ../sass/screen.scss */
h3 {
  font-size: 1.37em;
  color: #932018;
  margin: 20px 0 20px;
}

/* line 43, ../sass/screen.scss */
h4 {
  font-size: 1.44em;
  margin: 0.75em 0 0.25em;
}

/* line 59, ../sass/screen.scss */
nav li {
  float: left;
}
/* line 62, ../sass/screen.scss */
nav a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* line 69, ../sass/screen.scss */
.clear-fix {
  display: block;
  width: 100%;
  margin: 0;
  float: left;
  clear: both;
}

/* line 82, ../sass/screen.scss */
body > header,
body > section,
body > footer,
body .body-section {
  float: left;
  width: 100%;
}
/* line 86, ../sass/screen.scss */
body > header > .wrapper,
body > section > .wrapper,
body > footer > .wrapper,
body .body-section > .wrapper {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
/* line 93, ../sass/screen.scss */
body .body-section {
  margin: 20px 0 40px;
}
/* line 97, ../sass/screen.scss */
body > section {
  margin: 15px 0;
}

/* line 103, ../sass/screen.scss */
body > header {
  height: 70px;
  margin-bottom: -15px;
}
/* line 108, ../sass/screen.scss */
body > header .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}
/* line 114, ../sass/screen.scss */
body > header .main-menu {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
/* line 119, ../sass/screen.scss */
body > header .main-menu li {
  padding: 0 12px;
  border-right: 2px solid #c4d3be;
}
/* line 122, ../sass/screen.scss */
body > header .main-menu li:last-child {
  border-right: none;
}
/* line 127, ../sass/screen.scss */
body > header .main-menu a {
  font-size: 0.62em;
  text-transform: uppercase;
}
/* line 133, ../sass/screen.scss */
body > header .login {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}
/* line 137, ../sass/screen.scss */
body > header .login a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 130px;
  height: 29px;
  line-height: 29px;
  background: #dceef9;
  border: 2px solid #b0c8d6;
  font-size: 0.6em;
}

/* line 150, ../sass/screen.scss */
.header-decoration {
  height: 225px;
  float: left;
  width: 100%;
  background: url(/images/header.red.update.png) repeat-x center center;
}

/* line 159, ../sass/screen.scss */
.leading {
  width: 705px;
  margin: 20px auto;
  color: #9dad93;
  text-align: center;
  font-size: 0.9em;
}

/* line 169, ../sass/screen.scss */
.main-banner img {
  border-top: 15px solid #d6d6d6;
  border-bottom: 15px solid #d6d6d6;
}

/* line 175, ../sass/screen.scss */
.intro {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

/* line 182, ../sass/screen.scss */
.features.container {
  background: #dff1f7;
  padding: 20px 0;
}
/* line 186, ../sass/screen.scss */
.features.container .wrapper-a {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
/* line 192, ../sass/screen.scss */
.features.container .wrapper-b {
  position: relative;
  left: 50%;
}
/* line 197, ../sass/screen.scss */
.features.container .item {
  float: left;
  width: 212px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
}
/* line 204, ../sass/screen.scss */
.features.container .item .feature-icon {
  border: 2px solid #4f4f4f;
}
/* line 208, ../sass/screen.scss */
.features.container .item .feature-content {
  background: #fff;
  margin-top: 10px;
  padding: 15px 10px;
  height: 112px;
  width: 100%;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 216, ../sass/screen.scss */
.features.container .item .feature-content span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.59em;
  line-height: 117%;
}

/* line 226, ../sass/screen.scss */
.in-page-menu {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
/* line 232, ../sass/screen.scss */
.in-page-menu ul {
  position: relative;
  left: 50%;
}
/* line 237, ../sass/screen.scss */
.in-page-menu a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 140px;
  margin: 20px;
  color: #fff;
  background: #9dad93;
  font-size: 0.9em;
  display: table;
}
/* line 246, ../sass/screen.scss */
.in-page-menu a span {
  display: table-cell;
  vertical-align: middle;
}

/* line 255, ../sass/screen.scss */
.chess .item {
  float: left;
  width: 100%;
  margin: 0;
}
/* line 260, ../sass/screen.scss */
.chess .item.odd {
  background: #dff1f7;
}
/* line 264, ../sass/screen.scss */
.chess .item .area-wysiwyg {
  padding: 40px 50px;
}
/* line 269, ../sass/screen.scss */
.chess .item .area-wysiwyg-and-image h3 {
  display: inline-block;
  border-bottom: 1px solid #932018;
}
/* line 274, ../sass/screen.scss */
.chess .item .area-wysiwyg-and-image aside {
  width: 50%;
  height: 400px;
}
/* line 278, ../sass/screen.scss */
.chess .item .area-wysiwyg-and-image section {
  width: 50%;
  height: 400px;
  display: table;
}
/* line 283, ../sass/screen.scss */
.chess .item .area-wysiwyg-and-image section .wrapper {
  display: table-cell;
  vertical-align: middle;
}
/* line 292, ../sass/screen.scss */
.chess .item.odd .area-wysiwyg-and-image aside {
  float: right;
  text-align: left;
}
/* line 296, ../sass/screen.scss */
.chess .item.odd .area-wysiwyg-and-image section {
  float: left;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}
/* line 301, ../sass/screen.scss */
.chess .item.odd .area-wysiwyg-and-image section h3 {
  padding-left: 40px;
}
/* line 310, ../sass/screen.scss */
.chess .item.even .area-wysiwyg-and-image aside {
  float: left;
  text-align: right;
}
/* line 314, ../sass/screen.scss */
.chess .item.even .area-wysiwyg-and-image section {
  float: right;
  text-align: left;
}
/* line 317, ../sass/screen.scss */
.chess .item.even .area-wysiwyg-and-image section h3 {
  padding-right: 40px;
}

/* line 326, ../sass/screen.scss */
.instructions {
  background: #9dad93;
  padding: 30px 0;
}
/* line 331, ../sass/screen.scss */
.instructions .wrapper-a {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
/* line 337, ../sass/screen.scss */
.instructions .wrapper-b {
  position: relative;
  left: 50%;
}
/* line 342, ../sass/screen.scss */
.instructions .item {
  width: 275px;
  margin: 0 15px;
  text-align: center;
  float: left;
  background: #fff;
  padding-bottom: 20px;
  text-decoration: none;
}
/* line 351, ../sass/screen.scss */
.instructions .step {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  background: #932018;
  color: #fff;
}
/* line 360, ../sass/screen.scss */
.instructions .content {
  color: #000;
  font-size: 62%;
  margin-top: 10px;
  line-height: 117%;
}

/* line 368, ../sass/screen.scss */
.pricing {
  padding: 0;
}
/* line 372, ../sass/screen.scss */
.pricing .wrapper-a {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
/* line 378, ../sass/screen.scss */
.pricing .wrapper-b {
  position: relative;
  left: 50%;
}
/* line 383, ../sass/screen.scss */
.pricing .item {
  width: 215px;
  margin: 0 10px;
  text-align: center;
  float: left;
  background: #fff;
  padding-bottom: 20px;
}
/* line 391, ../sass/screen.scss */
.pricing .content {
  color: #000;
  font-size: 62%;
  line-height: 117%;
  height: 180px;
  margin: 20px 0;
}
/* line 399, ../sass/screen.scss */
.pricing .button.red {
  padding: 3px 10px;
  font-size: 85%;
}
/* line 404, ../sass/screen.scss */
.pricing .wysiwyg {
  clear: both;
  margin: 20px 0;
}

/* line 415, ../sass/screen.scss */
body > footer {
  background: #932018;
  height: 90px;
}
/* line 419, ../sass/screen.scss */
body > footer .logo {
  position: absolute;
  top: 10px;
  left: 50px;
}
/* line 425, ../sass/screen.scss */
body > footer .main-menu {
  position: absolute;
  top: 30px;
  left: 250px;
  color: #fff;
  text-transform: uppercase;
}
/* line 432, ../sass/screen.scss */
body > footer .main-menu li {
  padding: 0 25px;
  border-right: 2px solid #fff;
}
/* line 436, ../sass/screen.scss */
body > footer .main-menu li:last-child {
  border-right: none;
}
/* line 441, ../sass/screen.scss */
body > footer .share {
  position: absolute;
  top: 15px;
  right: 250px;
}
/* line 446, ../sass/screen.scss */
body > footer .share li {
  margin: 0 2px;
}
/* line 451, ../sass/screen.scss */
body > footer .logo.turtle {
  position: absolute;
  top: 10px;
  left: auto;
  right: 20px;
}

/* line 460, ../sass/screen.scss */
.button.red {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #932018;
  color: #fff;
  padding: 5px 40px;
}

/* line 467, ../sass/screen.scss */
.button.gray {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #9dad93;
  color: #fff;
  padding: 5px 20px;
}

/* line 474, ../sass/screen.scss */
.button.mail.gray {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #9dad93 url("/images/icon-mail.jpg") no-repeat right 5px;
  border-right: 10px solid #9dad93;
  color: #fff;
  padding: 5px 60px 5px 10px;
}

/* line 484, ../sass/screen.scss */
.form p {
  margin: 0.5em 0;
}
/* line 487, ../sass/screen.scss */
.form p.full-width {
  width: 100%;
  float: left;
  clear: both;
}
/* line 492, ../sass/screen.scss */
.form p.full-width label span {
  width: 30%;
  margin-right: 2%;
}
/* line 501, ../sass/screen.scss */
.form p.full-width input[type=email],
.form p.full-width input[type=password],
.form p.full-width input[type=text],
.form p.full-width select,
.form p.full-width textarea {
  width: 55%;
}
/* line 507, ../sass/screen.scss */
.form p.half-width.left {
  width: 50%;
  float: left;
  clear: none;
}
/* line 512, ../sass/screen.scss */
.form p.half-width.left label span {
  width: 60%;
  margin-right: 4%;
}
/* line 521, ../sass/screen.scss */
.form p.half-width.left input[type=email],
.form p.half-width.left input[type=password],
.form p.half-width.left input[type=text],
.form p.half-width.left select,
.form p.half-width.left textarea {
  width: 36%;
}
/* line 527, ../sass/screen.scss */
.form p.half-width.right {
  width: 37%;
  float: left;
  clear: none;
}
/* line 532, ../sass/screen.scss */
.form p.half-width.right label span {
  width: 45%;
  margin-right: 2%;
}
/* line 541, ../sass/screen.scss */
.form p.half-width.right input[type=email],
.form p.half-width.right input[type=password],
.form p.half-width.right input[type=text],
.form p.half-width.right select,
.form p.half-width.right textarea {
  width: 53%;
}
/* line 547, ../sass/screen.scss */
.form label {
  width: 100%;
}
/* line 549, ../sass/screen.scss */
.form label:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/* line 557, ../sass/screen.scss */
.form label label.error {
  color: red;
  margin-left: 10px;
  line-height: 37px;
}
/* line 564, ../sass/screen.scss */
.form label span {
  float: left;
  text-align: right;
  line-height: 37px;
  font-size: 23px;
  text-transform: uppercase;
}
/* line 581, ../sass/screen.scss */
.form input[type=email],
.form input[type=password],
.form input[type=text],
.form select,
.form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 37px;
  border: 1px solid #000;
  padding: 0 0 0 10px;
  float: left;
  font-size: 24px;
  font-family: inherit;
}
/* line 592, ../sass/screen.scss */
.form input[type=email].error,
.form input[type=password].error,
.form input[type=text].error,
.form select.error,
.form textarea.error {
  border-color: red;
}
/* line 597, ../sass/screen.scss */
.form textarea {
  height: auto;
}
/* line 601, ../sass/screen.scss */
.form input[type=submit] {
  text-transform: uppercase;
  font-family: inherit;
  display: inline-block;
  background: #dceef9;
  font-size: 22px;
  line-height: 22px;
  padding: 0 15px;
  text-decoration: none;
  outline: 0;
  color: #000;
  border: 2px solid black;
  height: 35px;
}
