@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$color-normal-text: #262626;
body {
  font-family: "Kefa", "Book Antiqua";
  color: $color-normal-text;
}

body > .container {
  @include box-sizing(border-box);
  width: 100%;
  min-width: 1200px;
  padding: 0 40px;
}

h1 {
  font-size: 23px * 1.25 * 1.25;
  margin: 2em 0 1em;
  clear: both;
}

h2 {
  font-size: 23px * 1.25;
  margin: 1em 0 0.5em 0;
  width: 100%;
  text-align: center;
  clear: both;
  float: left;
  text-transform: uppercase;
}

h3 {
  font-size: 23px;
  margin: 1em 0 0.5em 10%;
  clear: both;
  float: left;
}

h4 {
  font-size: 23px / 1.25;
  margin: 1em 0 0;
  clear: both;
}

// Headers
$header-bg1: #fff;
$header-bg2: #d6d6d6;
.page-header {
  margin-top: 10px;
  height: 158px;
  position: relative;
  background: transparent url(../img/header-bg.png) repeat-x left bottom;

  .logo {
    float: left;
    margin-left: 5%;
    margin-right: 0;
  }

  .main-menu {
    float: right;

    li {
      float: left;
    }
    a {
      @include box-sizing(border-box);
      display: inline-block;
      width: 270px;
      margin: 0 12px;
      height: 64px;
      border: 1px solid #000;
      line-height: 65px;

      text-align: center;
      font-size: 26px;
      color: $color-normal-text;
      text-transform: uppercase;
      text-decoration: none;
      outline: 0;

      &:hover, &.active {
        width: 294px;
        height: 106px;
        line-height: 66px;
        border: none;
        padding: 0 12px;
        margin: 0;
        background: url(../img/main-menu-active.png) no-repeat left top;
      }
    }
  }

  .help {
    float: right;
    margin-top: 5px;
    margin-right: 5%;

    a {
      @include box-sizing(border-box);
      width: 57px;
      height: 57px;
      margin-left: 4px;
      line-height: 57px;
      display: inline-block;
      @include border-radius(50%);
      border: 1px solid #868686;

      text-align: center;
      font-size: 37px;
      color: $color-normal-text;
      text-transform: uppercase;
      text-decoration: none;
      outline: 0;

      &:hover, &.active {
        @include box-sizing(border-box);
        width: 62px;
        height: 87px;
        line-height: 58px;
        padding-left: 3px;
        margin: 0;
        border: 0;
        @include border-radius(0);
        background: url(../img/help-active.png) no-repeat left top;
      }
    }
  }

  .status {
    @include box-sizing(border-box);
    width: 90%;
    margin-left: 5%;
    padding: 9px;
    position: absolute;
    bottom: 0;

    .wrapper {
      @include box-sizing(border-box);
      height: 40px;
      padding: 10px;
      background: #e4e5e3;
    }

    .label {
      float: left;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      margin-right: 1em;
    }

    .current-user {
      float: left;
    }
    .user {
      height: 20px;
      float: left;
      display: inline-block;
      background: #fff;
      font-size: 20px;
      line-height: 20px;
      padding: 0 10px;
      text-decoration: none;
      outline: 0;
      color: $color-normal-text;
      margin-right: 10px;
    }

    .logout {
      height: 20px;
      float: right;
      display: inline-block;
      background: #dceef9;
      font-size: 18px;
      line-height: 18px;
      padding: 0 10px;
      text-decoration: none;
      outline: 0;
      color: $color-normal-text;
      border: 2px solid black;
    }
  }
}


// Layout content
.main-part {
  .main-menu {
    width: 260px * 4;
    margin: 0 auto;
    height: 54px;

    li {
      float: left;
    }

    a {
      @include box-sizing(border-box);
      display: inline-block;
      width: 260px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #000;

      font-size: 21px;
      text-transform: uppercase;
      text-decoration: none;
      outline: 0;
      text-align: center;
      color: $color-normal-text;
    }

    .ui-tabs-active a, a:hover {
      background: url(../img/sub-menu-active.png) no-repeat left top;
      height: 54px;
      line-height: 37px;
      border: 0;
    }
  }
}


// Forms
.form {
  p {
    margin: 1em 0;

    &.full-width {
      width: 100%;
      float: left;
      clear: both;

      label span {
        width: 30%;
        margin-right: 2%;

        &.checkbox-label {
          text-transform: none;
          width: auto;
          float: none;
          text-align: left;
        }
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select {
        width: 55%;
      }
    }


    $hwlww: 50;
    &.half-width.left {
      width: 1% * $hwlww;
      float: left;
      clear: none;

      label span {
        width: 30% * 100 / $hwlww;
        margin-right: 2% * 100 / $hwlww;

        &.checkbox-label {
          text-transform: none;
          width: auto;
          float: none;
          text-align: left;
        }
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select {
        width: 100% - 30% * 100 / $hwlww - 2% * 100 / $hwlww;
      }
    }

    $hwrww: 37;
    &.half-width.right {
      width: 1% * $hwrww;
      float: left;
      clear: none;

      label span {
        width: 45%;
        margin-right: 2%;
      }

      input[type=email],
      input[type=password],
      input[type=text],
      select {
        width: 100% - 45% - 2%;
      }
    }
  }

  label {
    width: 100%;
    &:after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }

    label.error { // label inside label? Doesn't look too good
      color: red;
      margin-left: 10px;
      line-height: 37px;
    }

    span {
      float: left;
      text-align: right;
      line-height: 37px;

      font-size: 23px;
      text-transform: uppercase;

      &::after {
      }
    }
  }

  input[type=email],
  input[type=password],
  input[type=text],
  select {
    @include box-sizing(border-box);
    width: 45%;
    height: 37px;
    border: 1px solid #000;
    padding: 0 0 0 10px;
    float: left;

    font-size: 24px;
    font-family: inherit;

    &.error {
      border-color: red;
    }
  }

  input[type=submit] {
    text-transform: uppercase;
    font-family: inherit;
    display: inline-block;
    background: #dceef9;
    font-size: 22px;
    line-height: 22px;
    padding: 0 15px;
    text-decoration: none;
    outline: 0;
    color: $color-normal-text;
    border: 2px solid black;
    height: 35px;
  }
}

// List (employees, family members, invited patients)
.person-list {
  table {
    float: left;
    width: 80%;
    border-collapse: collapse;
    font-size: 23px;
    margin: 1px 0 2px 10%;
    td {
      border: 1px solid black;
      padding: 6px 10px;
    }
  }
  header {
    text-transform: uppercase;
    table td {
      border: 0;
    }
  }
}

// Patients review section
.patient-selector {
  position: relative;
  z-index: 50;
  float: left;
  background: #e4e5e3;
  margin: 20px;
  min-width: 400px;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  font-size: 24px;

  .switch-wrapper {
    background: #fff;
    height: 60px;
    line-height: 60px;
    margin: 10px 0 10px 10px;
    float: right;
    clear: none;
  }

  .switch {
    display: inline-block;
    background: #dceef9;
    font-size: 24px;
    line-height: 24px;
    padding: 0 10px;
    text-decoration: none;
    outline: 0;
    color: $color-normal-text;
    margin: 0 10px;
    border: 1px solid black;
  }
}

.patient-manager .main-menu {
  float: right;
  width: auto;
  margin-top: 50px;
}

.meals-calendar-container {
  .tip {
    background: #e4e5e3;
    margin: 10px 0 10px 150px;
    padding: 20px;
  }
}

.meals-calendar {
  .day {
    width: 100%;
    margin: 2px 0;
    border: 1px solid #000;

    .header {
      width: 135px;
      border-right: 1px solid #000;
      text-align: center;

      span {
        background: #fff;
        border: 1px solid #000;
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px 0;
        display: inline-block;
        width: 105px;
        text-align: center;
        @include box-sizing(border-box);
        padding: 10px;

        strong {
          font-size: 17px;
        }
      }
    }

    .meal {
      float: left;
      width: 160px;
      margin: 20px;
      text-align: center;

      header {
        white-space: nowrap;
      }

      .status, .notes {
        display: inline-block;
        max-width: 140px;
        clear: both;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .status {
        background: #fff;
        border: 2px solid #000000;
        padding: 2px 10px;
        margin-bottom: 5px;

        &.warning {
          color: #660000;
          background: #FFECE5;
        }
      }

      .thumbnail-container {
        width: 100%;
        height: 120px;
        overflow: hidden;
        margin: 10px 0;

        .thumbnail {
          width: 100%;
        }

        &.mealtype_drink .thumbnail {
          width: auto;
          height: 100%;
        }
      }
    }

    &.odd {
      .header {
        background: #c4d3be;
      }
      .content {
        background: #e0e8dd;
      }
    }
    &.even {
      .header {
        background: #d6d6d6;
      }
      .content {
        background: #e4e5e3;
      }
    }
  }
}

.meal-tooltip {
  background: #d6d6d6;
  border: 2px solid black;
  padding: 5px;
  overflow: hidden;
  width: 450px;

  img {
    @include box-sizing(border-box);
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-bottom: 5px;
  }

  .tooltip-notes {
    background: #dceef9;
    border: 2px solid black;
    display: block;
    clear: both;
    padding: 10px 10px;
    margin-top: 5px;
  }

  &.double {
    width: 905px;
  }
}

.chart-container {
  float: left;
  clear: both;
  width: 1000px;
  height: 400px;
  margin: -10px 100px 20px;
}

.subscription-types {
  float:right;
  position:relative;
  left:-50%;
  text-align:left;

  ul {
    position:relative;
    left:50%;
  }

  li {
    float: left;
    position: relative;
  }

  .item {
    display: inline-block;
    width: 147px;
    height: 217px;
    background: #dceef9;
    text-align: center;
    border-left: 3px solid #c5dbe8;
    border-top: 3px solid #c5dbe8;
    border-right: 6px solid #c5dbe8;
    border-bottom: 6px solid #c5dbe8;

    margin: 10px 20px;
    color: #000;
    text-decoration: none;
  }

  .patients {
    font-size: 33px;
    line-height: 150%;
    margin: 10px 0;
    display: inline-block;
    white-space: nowrap;
  }

  .price {
    font-size: 28px;
    line-height: 150%;
    white-space: nowrap;
  }
}

.subscription {
  form  {
    text-align: center;
    float: left;
    clear: both;
    width: 100%;
  }
}


// Flash messages
.flash-message {
  position: relative;
  padding: 12px;
  margin: 5px 0;
  font-family: Kefa;
  font-size: 20px;
  text-align: center;

  .close {
    font-weight: bold;
    font-family: helvetica, sans-serif;
    color: #fff;
    background: #bc7c77;
    border: 1px solid #fff;
    font-size: 17px;
    line-height: 23px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    padding: 0 3px;
    margin: 0;
    display: inline-block;
  }

  .wrapper {
    padding: 12px;
    border: 1px solid #fff;
  }

  &.error {
    background: #bc7c77;

    .wrapper {
      background: #fce6e6;
    }
  }

  &.success {
    background: #bc7c77;

    .wrapper {
      background: #fce6e6;
    }
  }

  &.warning {
    background: #bc7c77;

    .wrapper {
      background: #fce6e6;
    }
  }

  &.tip {
    background: #bc7c77;

    .wrapper {
      background: #fce6e6;
    }
  }
}


// Custom jquery ui styles
.ui-datepicker {
  background: #fff;
  border: 2px solid #000000;
}
.ui-widget-overlay {
  background: rgba(0,0,0,0.5);
}
.ui-dialog {
  background: #bc7c77;
  border: 1px solid black;
  padding: 12px;
}
.ui-dialog .ui-dialog-titlebar {
  background: #f4c7c6;
  border: 1px solid black;
  font-size: 24px;
  button {
    display: none;
  }
}
#choosePatient {
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #fff;
  padding: 30px;

  ul {
    list-style: disc inside;
  }
  li {

  }
  a {
    font-size: 25px;
    color: inherit;
    text-decoration: none;
  }
}
.ui-dialog .ui-dialog-buttonpane {
  background: #f4c7c6;
  border: 1px solid black;
  margin: 0;
  padding: 0;

  button {
    background: #bc7c77;
    color: #fff;
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: inherit;
  }
}

// Jquery rewrites for fixes
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs .ui-tabs-panel {
  clear: both;
}

body .ui-tooltip {
  background: #fff;
  border: none;
  padding: 0;
  @include box-shadow(0);
}